// ================================
// gbmf
// ================================

* { box-sizing: border-box; }

body.gbmf {
  // temporary!
  // header,
  // footer {
  //   display: none;
  // }
}


.gbmf-main {
  @include cf;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gbmf-images-wrap {
  @include cf;
  margin: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  padding-left: 2px;
  padding-right: 2px;
  top: 0;

  @include mq(medium) {
    width: 50%;
  }
  // left: -2px;
}

.gbmf-map-wrap {
  margin: 0;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;

  @include mq(max-small) {
    display: none;
  }
}

#gbmf-map {
  height: 100%;
  width: 100%;

  .gmnoprint a, .gmnoprint span, .gm-style-cc, a img {
    display:none;
  }
  .gmnoprint div {
    background:none !important;
  }
}

.gbmf-images {
  margin: 0;
  @extend %naked-list;
  @include cf;

  @include mq(medium) {
    margin-top: -2px;
    margin-bottom: -2px;
  }
}

.grid-sizer,
.gbmf-image-wrap {
  width: 50%;

  @include mq(small) {
    width: 25%;
  }

  @include mq(medium) {
    width: 25%;
  }
}

.gbmf-image-wrap, {
  float: left;
  // display: block;
  // float: left;
  line-height: 0;
  padding: 2px;
  height: 40vw;

  @include mq(small) {
    height: 20vw;
  }

  @include mq(medium) {
    height: 10vw;
  }

  .gbmf-image {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .gbmf-info {
    display: none;
  }

  .gbmf-info-list {
    @extend %naked-list;
    font-size: 14px;

    @include mq(small) {
      font-size: 16px;
    }

    @include mq(large) {
      font-size: 18px;
    }
  }

  &.selected {
    width: 100%;
    height: 40vw;

    @include mq(small) {
      height: 20vw;
      width: 50%;
    }

    @include mq(medium) {
      height: 20vw;
      width: 100%;
    }

    .gbmf-image,
    .gbmf-info {
      float: left;
    }

    .gbmf-image {
      width: calc(50% - 2px);
      margin-right: 2px;
    }

    .gbmf-info {
      width: 50%;
      padding: 8px;
      display: block;
      line-height: normal;
    }
  }
}
