// ================================
// gbmf
// ================================

* { box-sizing: border-box; }

body.gbmf {
  // temporary!
  // header,
  // footer {
  //   display: none;
  // }
}


.gbmf-main {
  @include cf;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gbmf-images-wrap {
  @include cf;
  margin: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  padding-left: 2px;
  padding-right: 2px;
  top: 0;

  @include mq(medium) {
    width: 50%;
  }
  // left: -2px;
}

.gbmf-map-wrap {
  margin: 0;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;

  @include mq(max-small) {
    display: none;
  }
}

#gbmf-map {
  height: 100%;
  width: 100%;

  .gmnoprint a, .gmnoprint span, .gm-style-cc, a img {
    display:none;
  }
  .gmnoprint div {
    background:none !important;
  }
}

.gbmf-images {
  margin: 0;
  @extend %naked-list;
  @include cf;
}

.grid-sizer,
.gbmf-image {
  width: 25%;
}

.gbmf-image, {
  float: left;
  // display: block;
  // float: left;
  line-height: 0;
  padding: 2px;

  img {
    // display: block;
    display: block;
    width: 100%;
  }

  .info {
    display: none;
  }

  .info-list {
    @extend %naked-list;
  }

  &.selected {
    width: 100%;

    img,
    .info {
      width: 50%;
      float: left;
    }

    .info {
      padding: 8px;
      display: block;
      line-height: normal;
    }
  }
}
