{% extends 'layout.twig' %}

{% block content %}
  <section class="about-main container">
    <div class="chunk">
      <h3>About me</h3>
      <p>Howdy! I'm Preston Richey. I live in Kansas City, and work as a web developer for <a href="www.40digits.com">40Digits</a>. I grew up in Wichita, KS, and received degrees in Computer Science and Spanish from Missouri State University in Springfield. In my free time, I enjoy <a href="https://www.strava.com/athletes/6928920">cycling</a>, drinking yerba mate, and playing <a href="https://en.wikipedia.org/wiki/Go_(game)">Go</a> (albeit poorly).</p>
      <p>I'm available for <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#112;&#114;&#101;&#115;&#116;&#111;&#110;&#108;&#101;&#101;&#114;&#105;&#099;&#104;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">freelance work</a> and can already tell we'd get along swimmingly.</p>
    </div>

    <div class="chunk">
      <h3>Currently</h3>
      <ul>
        {% if song %}
        <li>Listening to: <span class="song-title italic">{{ song.title }}</span> by <span class="artist">{{ song.artist }}</span></li>
        {% endif %}
        <li>Learning: <a href="https://github.com/facebook/react">React</a>, <a href="https://github.com/postcss/postcss">PostCSS</a>, <a href="https://aframe.io/">A-Frame</a>, <a href="https://www.mongodb.org/">MongoDB</a></li>
        <li>Reading: <a href="http://www.goodreads.com/book/show/310612.A_Confederacy_of_Dunces">A Confederacy of Dunces</a></li>
        <li>Playing: <a href="http://store.steampowered.com/app/360740/">Downwell</a>, <a href="http://asherv.com/threes/">Threes</a></li>
        <li>Beer in fridge: <a href="http://www.beeradvocate.com/beer/profile/423/197629/">Boulevard Early Riser</a></li>
      </ul>
    </div>
  </section>

{% endblock %}

{% block footer_links %}
  <ul class="links">
    <li><a href="/">home</a></li>
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#112;&#114;&#101;&#115;&#116;&#111;&#110;&#108;&#101;&#101;&#114;&#105;&#099;&#104;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a></li>
  </ul>
{% endblock %}
