{% extends 'layout.twig' %}

{% block content %}
  <section class="gbmf-main">
    <div class="gbmf-images-wrap abs-height-padded">
      <ul class="gbmf-images">
        {% for image in images %}
        <li class="gbmf-image">
          <img
          src="{{ image.url }}"
          data-id="{{ image.id }}"
          data-latitude="{{ image.location.latitude }}"
          data-longitude="{{ image.location.longitude }}" alt="" />
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="gbmf-map-wrap">
      <div id="gbmf-map"></div>
    </div>
  </section>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
{% endblock %}

{% block footer_links %}
  <ul class="links">
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
  </ul>
{% endblock %}
