{% extends 'layout.twig' %}

{% block content %}
    <div class="cube-wrap"></div>
{% endblock %}

{% block footer_links %}
    <ul class="links">
        <li><a href="/about">about</a></li>
        <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#112;&#114;&#101;&#115;&#116;&#111;&#110;&#108;&#101;&#101;&#114;&#105;&#099;&#104;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a></li>
    </ul>
{% endblock %}