{% extends 'layout.twig' %}

{% block content %}
    <section class="projects-main container">
      <div class="chunk">
        <ul class="projects-list">
            <li><a href="/gbmf">ground beneath my feet</a></li>
            <li><a href="http://pizza.church/">pizza.church</a></li>
            <li><a href="/lillies">a room full of water lillies</a></li>
            <li><a href="https://twitter.com/bronnerbot">@bronnerbot</a></li>
        </ul>
      </div>

    </section>
{% endblock %}

{% block footer_links %}
    <ul class="links">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#112;&#114;&#101;&#115;&#116;&#111;&#110;&#108;&#101;&#101;&#114;&#105;&#099;&#104;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a></li>
    </ul>
{% endblock %}
